.wp-block-create-block-godot-game-block {

  /* Add any front-end styles here. */
  .godot-game-wrapper {
    // You can add a shadow or border here
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
}